# Auto detect text files and perform LF normalization
* text=auto

# Track large data files with Git LFS
"Murder Data SHR65 2023.csv" filter=lfs diff=lfs merge=lfs -text
"UCR 2023 Data.csv" filter=lfs diff=lfs merge=lfs -text
resources/data/Murder[[:space:]]Data[[:space:]]SHR65[[:space:]]2023.csv filter=lfs diff=lfs merge=lfs -text
resources/data/UCR[[:space:]]2023[[:space:]]Data.csv filter=lfs diff=lfs merge=lfs -text
